<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="{{ site.author | default: site.title }}">
    
    <!-- Title -->
    {% if page.url == "/" %}
        <title>{{ site.title }}</title>
    {% else %}
        <title>{{ page.title | default: site.title }} - {{ site.title }}</title>
    {% endif %}

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="site-title">
                <a href="/">
                    {{ site.title }}
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <main class="content">
	        {{ content }}
        </main>
        <footer>
            <img src="/assets/img/95pc.jpg" />
            <!--
            <nav>
                <a href="https://example.com" target="_blank" rel="noopener noreferrer">RSS</a>
            </nav>
            -->
            <p>&copy; 2024 Ben Orrin</p>
        </footer>
    </div>
</body>
</html>
